#contactUs {
  h2 {
    font-size: 2.1rem;
  }

  #pContactUs,
  #pContactUs2 {
    font-size: 1.5rem;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
  }

  img {
    width: 150px;
    height: 150px;
  }
}