#sigueInvestigando {
  h2 {
    font-size: 2.1rem;
  }

  #imgSigueInvestigando {
    width: 100%;
    height: 500px;
  }

  #audioContainer {
    margin-top: 5%;
  }

  #pSigueInvestigando {
    font-size: 1.5rem;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
  }

  #progressLabel {
    margin-top: 2%;
  }
}