#home {
  h2 {
    font-size: 2.1rem;
  }

  #h3Home {
    margin-top: 5%;
  }

  #imgHome {
    width: 100%;
    height: 500px;
  }

  #h2Home,
  #h3Home {
    margin-top: 5%;
  }

  #h3Home2 {
    margin-top: 5%;
    margin-bottom: 3%;
  }

  #btnHome {
    margin-bottom: 5%;
  }

  #audioContainer {
    margin-top: 5%;
  }
}