#pisoArriba {
  h2 {
    font-size: 2.1rem;
  }

  #imgPisoArriba {
    width: 400px;
  }

  #audioContainer {
    margin-top: 5%;
  }

  #pPisoArriba,
  #pPisoArriba2,
  #iPisoArriba {
    font-size: 1.5rem;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
  }

  #progressLabel {
    margin-top: 2%;
  }
}